<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>CUMTD Test</title>

	<!-- CSS -->
	<!-- load bootstrap and our stylesheet -->
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<style>
		body { padding-top:50px; }
	</style>

	<!-- JS -->
	<!-- load angular and our custom application -->
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js"></script>
	<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
	<script src="app.js"></script>
	<script src="userService.js"></script>
	<script src="moment.min.js"></script>
	<script src="bower_components/angucomplete-alt/angucomplete-alt.js"></script>
</head>

<!-- declare our angular application and angular controller -->
<body class="container" ng-app="cumtdApp" ng-controller="mainController as main">

	<div class="jumbotron">

		<form class="form-group" ng-submit="main.go()">
			<label>Choose a Bus Stop</label>
			<input type="text" class="form-control" ng-model="main.searchQuery">
			<button type="submit" class="button">Submit</button>
		</form>

		<h3>Search Bus Stops</h3>
        <div class="padded-row">
          <div angucomplete-alt id="searchBusStops" placeholder="Search stops" pause="100" selected-object="main.searchQueryAuto" local-data="main.allStops" search-fields="name" title-field="name" minlength="2" input-class="form-control form-control-small" match-class="highlight" auto-match="true">
          </div>
        </div>

        <button ng-click="main.searchStops()">Load All Stops</button>

		<!-- <h2> Searching for: {{ main.searchQuery }} </h2> -->
		<!-- <h2> {{ main.message }} </h2> -->
		<h2>Last refreshed at: {{ main.accessedTime }} </h2>
		<h2>Showing departures from {{ main.busStop }} </h2>
		<table class="table table-bordered">
			<thead>
				<tr>
					<td>Color</td>
					<td>Bus</td>
					<td>Minutes</td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="bus in main.buses">
					<td> 
						<div style="background-color: #{{bus.route.route_color}}; width: 16px; height:16px; border-radius:8px"></div>
					</td>
					<td> {{ bus.headsign }} </td>
					<td> {{ bus.expected_mins }} </td>
				</tr>
			</tbody>
		</table>

	</div>
	
</body>
</html>