<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>CUMTD Test</title>

	<link rel="stylesheet" type="text/css" href="bower_components/angucomplete-alt/angucomplete-alt.css">
	<link rel="stylesheet" type="text/css" href="bower_components/materialize/bin/materialize.css">
	<link rel="stylesheet" type="text/css" href="css/styles.css">

	<script src="bower_components/angular/angular.min.js"></script>
	<script src="bower_components/jquery/dist/jquery.min.js"></script>
	<script src="bower_components/materialize/bin/materialize.js"></script>
	<script src="js/app.js"></script>
	<script src="js/moment.min.js"></script>
	<script src="bower_components/angucomplete-alt/angucomplete-alt.js"></script>
</head>

<body class="container" ng-app="cumtdApp" ng-controller="mainController as main">

	<!-- <div class="navbar-fixed"> -->
		<nav>
	      <div class="nav-wrapper">
		      <div class="col s12">
		      	<a href="#" class="brand-logo" id="logo">CUMTD Departures</a>
		        <ul id="nav-mobile" class="right side-nav">
		          <li><a href="#">Home</a></li>
		        </ul>
		        <a class="button-collapse" href="#" data-activates="nav-mobile"><i class="mdi-navigation-menu"></i></a>
		      </div>
	      </div>
	    </nav>
	<!-- </div> -->
		
	<div class="content col 12">

		<h4>Search Bus Stops</h4>
     	<div angucomplete-alt
      		id="searchBusStops"
      		placeholder="Search stops"
      		pause="100"
      		selected-object="main.busStopQuery"
      		local-data="main.allStops"
      		search-fields="stop_name"
      		title-field="stop_name"
      		minlength="2"
      		input-class="form-control form-control-small"
      		match-class="highlight"
      		auto-match="true"
      		ng-keypress="main.loadEnter($event)"
      		data-activates='dropdown1'>
      	</div>
      	<button type="submit" class="btn waves-effect waves-light" ng-click="main.load()">
      		Submit
      		<i class="mdi-content-send right"></i>
      	</button>

		<h5>Last refreshed at: {{ main.accessedTime }} </h5>
		<h5>Showing departures from: {{ main.busStop }} </h5>
		<table class="table striped">
			<thead>
				<tr>
					<td>Color</td>
					<td>Bus</td>
					<td>Minutes</td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="bus in main.buses">
					<td> 
						<div style="background-color: #{{bus.route.route_color}}; width: 16px; height:16px; border-radius:8px; margin-left:10px"></div>
					</td>
					<td> {{ bus.headsign }} </td>
					<td> {{ bus.expected_mins }} </td>
				</tr>
			</tbody>
		</table>

	</div>

</body>
</html>